@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#titulo{
    font-size: 60px;
    padding: 200px;
    text-align: center;
    color: #fff;

}
#titulo:hover {
    cursor: pointer;
}

body {
    font-family: 'Raleway', sans-ser;


}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section {
    padding: 30px;
    width: 100%;
}

header {
    width: 100%;
    height: 600px;
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(134, 30%, 57%, 0.637), hsla(193, 66%, 22%, 0.692)), url('../img/GREENPEACE_deforestacion_amazonia-e1491826078474.jpg');
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(134, 30%, 57%, 0.637), hsla(193, 66%, 22%, 0.692)), url('../img/GREENPEACE_deforestacion_amazonia-e1491826078474.jpg');
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
 
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#lista {
    text-align: center;
}

button {
    color: rgb(14, 13, 13);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: #639eb5;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    cursor: pointer;
    border-color: #03256C;
    border-bottom-style: solid;
    text-align: center;
}
button:hover{
    background-color: rgb(3, 97, 109);
    transition: 0.5s;
    color: rgb(255, 253, 253);
    border-color: #1b1b1b;

}
.fondo{
    background-color: #8a8686a8;
    border-radius: 20px;
}

p{
text-align: center;
font-size: 20px;
}
#liga{
    display: flex;


}
.img{
border-radius: 10px;
margin: 20px 0 10px 350px;

}

h2 {
    text-align: center;
    font-size: 30px;
}
.logo{
width: 40px;
height: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&display=swap');