@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo{
    font-size: 60px;
    padding: 160px;
    text-align: center;
    color: #fff;

}
#titulo:hover {
    cursor: pointer;
}

body {
    font-family: 'Raleway', sans-ser;


}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section {
    padding: 30px;
    width: 100%;
}

header {
    width: 100%;
    height: 600px;
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(134, 30%, 57%, 0.637), hsla(193, 66%, 22%, 0.692)), url('../img/GREENPEACE_deforestacion_amazonia-e1491826078474.jpg');
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(134, 30%, 57%, 0.637), hsla(193, 66%, 22%, 0.692)), url('../img/GREENPEACE_deforestacion_amazonia-e1491826078474.jpg');
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
 
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#lista {
    text-align: center;
}

button {
    color: rgb(14, 13, 13);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: #969595b4;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    cursor: pointer;
    border-color: #000000;
    border-bottom-style: solid;
    text-align: center;
}
button:hover{
    background-color: #6d83fe;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    border-color: #ffffff;

}
.fondo{
    background-color: #8a8686a8;
    border-radius: 20px;
}

a{
    color: #fff;
    float: right;
    padding: 9px;
    margin: 20px 0 0 0;
    border-radius: 8px;
    text-decoration: none
}
a:hover{
    background-color: hsla(0, 2%, 53%, 0.281);
}
a img{
    width: 25px;
    color: #fff;
}

h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#logo{
    text-align: left;
   background: #ffffff;
    width: 100%;
    height: 85px;
    

}
img.logo{
    width: 250px;
    padding: 5px;

    }  
p span{
  background: #121e61;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
}
div#boton-seleccionado{
    text-align: center;
}
img.imagen{
    border-radius: 10px;
    margin: 50px 0 0 0;
}

.gallery{
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: 
    "img1 img9 img7 img4"
    "img1 img9 img6 img8"
    "img1 img2 img3 img8"
    "img11 img2 img10 img5"
    "img14 img15 img15 img12"
    "img16 img15 img15 img12";
    gap: .8em;
}
.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.gallery__picture{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__picture::before{
    border-radius: 8px;
  content:"GREEN PLANET";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2766759d;
  transform: translate(100%);
  transition: trasform .3s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.gallery__picture:hover::before{
    transform: translate(0);
}
.gallery_picture--g1{
    grid-area: img1;
}
.gallery_picture--g2{
    grid-area: img3;
}
.gallery_picture--g3{
grid-area: img2;
}
.gallery_picture--g5{
    grid-area: img6;
}
.gallery_picture--g8{
    grid-area: img8;
}
.gallery_picture--g9{
    grid-area: img9;
}
.gallery_picture--g15{
    grid-area: img12;

}
.gallery_picture--g12{
    grid-area: img15;
}

